<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <title>サンプル</title>
   <style type="text/css">
       table, td, th {
           border: solid black 1px;
       }
       table {
           width: 700px;
       }
       p {
           font-size: 10px
       }
       hr {
            border-width: 1px 0px 0px 0px;
            border-style: dashed;
            border-color: black;
            height: 10px;
        }
        img{
            width: 100px;
            height: 100px;
        }
   </style>
</head>
<body>
    <h1>自動販売機管理ツール</h1>
    <h2>新商品追加</h2>
    <h3>{{add_message}}</h3>
    <form method="POST" enctype="multipart/form-data" action="/admin/add">
        <label>名前　：<input type="text" name="add_name"></label><br>
        <label>値段　：<input type="text" name="add_price"></label><br>
        <label>個数　：<input type="text" name="add_number"></label><br>
        <p>＊全ての項目が入力選択必須</p>
        <p>＊商品の値段、在庫数は0以上</p>
        <input type="file" id="add_image" name="add_image">
        <p>＊画像ファイルはJPEGもしくはPNGのみ</p>
        <select name="status_selector">
            <option value="" {% if nothing_check %} checked {% endif %}>選択してください</option>
            <option value=1 {% if public_check %} checked {% endif %}>公開</option>
            <option value=0 {% if private_check %} checked {% endif %}>非公開</option>
        </select>
        <p>＊公開、非公開を選択</p>
        <button type="submit" name="add_drink" value="success">商品追加</button>
    </form>
        <hr>
        <h3>≪商品情報変更≫</h3>
        <h4>{{change_message}}</h4>
    <table>
        <tr>
            <th>商品画像</th>
            <th>商品名</th>
            <th>価格</th>
            <th>在庫数</th>
            <th>ステータス</th>
        </tr>
       {% for item in goods %}
        <tr>
            <td><img src="{{ item.image }}"></td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <form method="POST" action="/admin/stock">
                <input type="hidden" name="drink_id" value="{{item.id}}">
                <input type="hidden" name="drink_name" value="{{ item.name }}">
                <td>
                    <label><input type="text" name="stock" style="text-align:right" value={{item.stock}}>個</label>
                    <button type="submit" name="change_stock" value="" >変更</button>
                </td>
            </form>
            <form method="POST" action= "/admin/status">
                    <input type="hidden" name="drink_id" value="{{item.id}}">
                    <input type="hidden" name="drink_name" value="{{ item.name }}">
                <td>
                    {% if item.status == 1 %}
                    <button type="submit" name="change_status" value=0 >公開</button>
                    {% elif item.status == 0 %}
                    <button type="submit" name="change_status" value=1>非公開</button>
                    {% endif %}
                </td>
            </form>
        </tr>
       {% endfor %}
    </table>
</body>
</html>
