<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <title>サンプル</title>
   <style type="text/css">
       table, td, th {
           border: solid black 1px;
       }
       table {
           width: 600px;
       }
       p {
           font-size: 12px
       }
   </style>
</head>
<body>
    <h2>{{judge}}</h2>
    <form method="POST">
        <label>名前　　　： <input type="text" name="add_name"></label><br>
        <label>コメント　： <input type="text" name="add_comment"></label>
        <input type="submit" value="追加">
        <p>＊名前、コメントともに入力必須</p>
        <p>＊名前は20文字以内、コメントは100文字以内</p>
    </form>

    <h3>コメント ：{{comment_count}}件</h3>
    <form>
        <label>名前で検索： <input type="text" name="search_name"></label>
        <input type="submit" value="検索">
    </form>
    <table>
        <tr>
           <th>名前</th>
           <th>コメント</th>
           <th>投稿時刻</th>
        </tr>

       {% for item in message %}
        <tr>
            <td>{{ item.name }} </td>
            <td>{{ item.comment }}</td>
            <td>{{ item.time }}</td>
        </tr>
       {% endfor %}
    </table>
</body>
</html>
